/* common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6;
}

p {
    color: #666;
}

a, a:visited {
    color: #262626;
}

button {
    border: none;
    background: none;
    font-size: 1em;
    color: #888;
    font-family: Helvetica, Arial, sans-serif; 
    font-weight: 300;
    background-color: rgba(89, 136, 157, 0.2);
    padding: 0.2em 0.6em;
    cursor: pointer;
}

button.selected {
    background-color: rgba(89, 136, 157, 0.8);
    color: #efefef;
}

.logo a {
    display: block;
}

.logo a svg {
    height: 20px;
    width: 150px;
}

.header {
    padding-bottom: 0.25em;
    /*border-bottom: 1px dotted #ddd;*/
    max-width: 480px;
    margin: 0 auto;
    text-align: center;
}

.explanation {
    font-size: 0.9em;
    color: #888;
    margin-top: 0.25em;
}

.updated {
    font-size: 0.8em;
    font-weight: bold;
    color: #59889d;
    margin-top: 1em;
}

.loading p {
    margin-top: 5em;
    text-align: center;
}

.container {
    padding: 1em 0;
}

.stories {
    margin: 1.5em auto;
    width: 100%;
    max-width: 480px;
    height: 100%;
    overflow: hidden;
}

.story {
    margin-bottom: 2em;
    /*border-bottom: 1px solid #ddd;*/
    padding-bottom: 0.75em;
}

.section-and-date {
    height: 100%;
    overflow: hidden;
    font-size: 0.8em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 1px solid #efefef;
}

.section {
    float: left;
    width: 50%;
    text-align: left;
    font-weight: bold;
    color: #59889d;
    text-transform: capitalize;
}

.date {
    float: left;
    width: 50%;
    text-align: right;
    color: #888;
}

.image {
    width: 100%;
    height: 200px;
    background: #eee;
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    /*border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;*/
    position: relative;
}

.hide {
    display: none;
}

.story a {
    display: block;
    text-decoration: none;
}
.story a:hover {
    text-decoration: none;
}

.hed {
    text-align: left;
    margin: 0.5em 0 0.25em 0;
    color: #333;
    font-family: 'Miller', Georgia, serif;
    line-height: 1.4;
    font-size: 1.3em;
    letter-spacing: normal;
}

.description {
    font-family: Georgia, serif;
    margin: 0;
}

a.lite {
    display: block;
    position: absolute;
    top: 8px;
    right: 0;
    width: 35px;
    height: 35px;
}

.lite svg {
    width: 100%;
    height: 100%;
}

.lite svg path {
    fill: rgba(255,255,255,0.6);
    stroke: rgba(50,50,50,0.4);
    stroke-width: 1px;
}

.bottom {
    text-align:  center;
    padding-bottom: 2em;
}

@media only screen and (max-width: 500px) {
    .story a {
        padding-left: 0.75em;
        padding-right: 0.75em;
    }
    .section-and-date {
        padding-left: 1em;
        padding-right: 1em;
    }
}