/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    font: 16px/23px Helvetica, Arial, serif;
    font-weight: 300;
}

p {
    color: #666;
}

a, a:visited {
    color: #262626;
}

.logo a {
    display: block;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-image: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQABAAQAAAAeAAD/4QMtaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLwA8P3hwYWNrZXQgYmVnaW49Iu+7vyIgaWQ9Ilc1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCI/PiA8eDp4bXBtZXRhIHhtbG5zOng9ImFkb2JlOm5zOm1ldGEvIiB4OnhtcHRrPSJBZG9iZSBYTVAgQ29yZSA1LjMtYzAxMSA2Ni4xNDU2NjEsIDIwMTIvMDIvMDYtMTQ6NTY6MjcgICAgICAgICI+IDxyZGY6UkRGIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyI+IDxyZGY6RGVzY3JpcHRpb24gcmRmOmFib3V0PSIiIHhtbG5zOnhtcD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wLyIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bXA6Q3JlYXRvclRvb2w9IkFkb2JlIFBob3Rvc2hvcCBDUzYgKE1hY2ludG9zaCkiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6M0VEQzUxRjlFNjA4MTFFM0I1RDZDQkRCMDUwRkZGNkYiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6M0VEQzUxRkFFNjA4MTFFM0I1RDZDQkRCMDUwRkZGNkYiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDozRURDNTFGN0U2MDgxMUUzQjVENkNCREIwNTBGRkY2RiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDozRURDNTFGOEU2MDgxMUUzQjVENkNCREIwNTBGRkY2RiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv/uACFBZG9iZQBkwAAAAAEDABADAgMGAAAFrwAACGgAABL8/9sAhAAQCwsLDAsQDAwQFw8NDxcbFBAQFBsfFxcXFxcfHhcaGhoaFx4eIyUnJSMeLy8zMy8vQEBAQEBAQEBAQEBAQEBAAREPDxETERUSEhUUERQRFBoUFhYUGiYaGhwaGiYwIx4eHh4jMCsuJycnLis1NTAwNTVAQD9AQEBAQEBAQEBAQED/wgARCAAoAS0DASIAAhEBAxEB/8QApgAAAwEBAQEBAAAAAAAAAAAAAAUGBAMCBwEBAQEAAAAAAAAAAAAAAAAAAAABEAACAgIBAgQHAQAAAAAAAAAEBQMGAQIHABQSEzQWECBQMxU1NiYRAAIBAwIDBQQEDAQHAAAAAAECAxESBAAhMRMFQVFhIhRxkTJCgbEjcxAgocHRUmJygrKzw8KDdBUw8OHxQyQGEgEAAAAAAAAAAAAAAAAAAABQ/9oADAMBAAIRAxEAAADerpUR461EmXPaQcjYlmI1jLOfMmiUsjhTfN7s2kDWDIhWpQ9PmV0MyHohsSOYtwTDGS4uRHTSliJ6qHbFFLK9BT7ot8NiR1Cn8V1A8i7SGKTBryCukmr4zxH0WLJ+mW1RD9eX6tHPu/KetfFSZWStirPj68oq8gv0X559Bik2b5SzFSyrSGPHrWLo34dqNULZQeWyq5M8qAx1gesoHN2BrwAfqECrWALWoCOmAnd4C6oAmewDvUBJcQKTUBN6ANO4CbrAJliB/9oACAECAAEFAPrP/9oACAEDAAEFAPrP/9oACAEBAAEFAHNwZjsd+QXum0XITSTq3sWq+IQSAIb4yyaxR5b3hrGmOuc87l431W0+ybNYPl3nhjk+cw0UAd60tU+gHIZ3mmHNIlNRcHPCvhaLG1RzJ8T5X/HJMw5+/cZvq1eB5fI/rbNajB4q25y6W2a1yA61ywDug5I9JY7OaQhQMzCRkdc0zkBcnMitzNqIsh3uzoJqC/WHAO7i1jJW3dcdovbuyrPG3kgDYXo8Y8Swimqa/de83BvBu7vqyWKJEPbxCcIBShwxF75EY9sOcZQ8bdOrNtDIqv5UO/JH2GNqnAUV17E8Cs9snF6xcgcoOPyvOYy4znkhb6fkf1t4/nKJrjauUImIfZHVggJ3ODMrrZXNlQT2LbIcyduQurjVqpcWrw+7+RP0u+MYoVVdrQa1U2CUvKD+55J6Z667ULjr9XQv6G0x42uPV2n/ANLyHnGUiv7dzrwxQCA2Sem8bdVbXGty5F1xhvyR9hpjGaXTP0lGKjggxRwsAl6k1SzVuMJmyW+n5CJHmYXAiEmrUXfXSuUFgEGX3Y+SerK9UzFB2xTM2WtV7M+AMoi5WqeH3ZfCYCq/XDV4FTqe9axrUY9dLdXZY97ryRLFtIWUMTQuPc+UooUsfuGybZzdfHr4uQ1ku/UTDexrtB9BDHksf46NLqiqPG+2uMpGIQNrv+cEM+SN9fLKYhF0um+PCbj9iEJN3wndN0gDiDfj02DdfVW+NHFRWMhdasLqgTUsZdu6oorApOpGUBEaybQV0UQZS1QK22oNAwKcOPCNC9rQDmJNSIwZmiZe1LM48HkJXLhlw7Pj8MkmSnJ5Fi2ibCT9kJ2g1BHHav6bhswXrYgdN9NJNGPHohE41RsscqtIKu6MDGOHDoAA5zulgNJENaHUxs1QLUcKgaDFwwQjxOqKIwJ9sLfwn//aAAgBAgIGPwBn/9oACAEDAgY/AGf/2gAIAQEBBj8AmxulYqzwY55ckjxu/wBqvxgGNlG3DVr42MrdxSQH8suliXDheZyFS2+hY7Dy1Pb46hxGnJbNhLZNCQFe8MRFQ+VRS32cd9R4uOtkUShVHs7T4nt/EeVzREUsx8FFTr1PTMVcfFYkxMBGGZOyvqGNfao1JBliCOOCnPnyE+HatAIXQE03/wCRqXO6SkUmJEbGyqFi/wAryRJWlqNtU192+jh5ZHrYFFG7ZYxQXb/NXj+NHE7hZJiViU8WKqXNPYB/wGycuVYol4s3ae4DtPgNQSdPQR4mSvqMb09WyGiW1hzB/ECQo8N9KmdipLGaKTBVZPbRmYMfDbWX1EomO0Q5uPA4ublqKkT78W7lpTvOszJzXoMcRiGGIlIhzOZcStTcfL81fwhEjhkiyVJxpCGDIykXhxcQ2xHdqCfImaeeeNJZGalAzqGIUKFAAr+JN0XpNrZMrvlzzuPJjLMQzXAGruWNQNtiOwahxcqd8pYSqgyW080AY0RQFG57BppfTRc1cicq/LW4FZ5LaGldqaw/um/m1G3SEYQcyjZxQGGQgH7OO4EMDT4h3baGUycuVGMUqj4b1Aaq+BDDU2N0xOZkQ2rPkUujgL/CPFvyfVpTcFzIlAyIuG/a6j9UnTRSC5HBVl7wRQjUSYUhEl6Y6SsFLKtrN3UrRKcNYOFG7KM5Xy8xq1aZ3cqtzHfgn6dYeLscRsFGeEgULyM154V37dMvTFPpsPK88ik2JDdVoy7cTYbacdcydquxCxQgi+RiaAKCR36kHUMazH4ejItZBX4lcirH8h8NN1COXl46G2Uy+SxgAbTXau/ZqLJ6YtvS6kRyulVyCpo1SRVaHagoe3SxmKUZpXbHRC97gVohX/FTx1BPNGczNhMqJi3LCo8jhlBPlW38tNSZfWscdMVCAA0qTX1FfLy+3w1GyYdmA6Bo1lBV5UejCRWGw24cfHwk6niRyS8kG/HUfaBl3t7vH2e7WTH1FQjLWTHEYLM6lqCIKN2YVFKcdDFz4Fx8WR+XyyrCSJjstxNO3jt+CNuWZcie4QpwXyUqWPcLhrEzeovzeoSTKGp5UiR0kflIg227Sdz30promTkyCKGPAJZ24fBj69b1LEELmRfSyJRUjIOzzUtuavFjUeGs8jcGB6H+HXUv8j+7p+n9Gj9b1Gws1lHWIDjsPiYfq/8AbXI6zHzQDQzRqFkU/tJsp+imsD96X6k1gjpcZksSJJslkLQAhN4g3AttvQ7e3gZwnKmiNk0fEA0qCp7jp4Oj0cwlRk5QAdImYtbHuCKm0/Vx4HqIZfVqojOPQ7ZDKaClfgJUmteHjrqLStWfICykHifM1x97aFBXzJ+TGGn+/wAn+vJrD+6b+bWR+9H/ADrrMU7gzygjwMUeuoF0aUskdsMa3u+7AgKPbv2Dt0/UZIgMqVmeOLYrjK5qI0psSoNLvdqVMFimTI0caSKCxQSSIjvQb+VSTqLK9bNk8yUI6TGtWKs14Nf2ddEUAmV8QAJTc1draDjvXWLhYeT6SePCiE0Zqt+58hceZaai6WX+yfIXHnx2NyqxflsVodiPDjoUG92Pd7aL+bUH+qT+nLqMgccyp9zDQE0ymbH5rtjg/akXFhanE7dvDv1PJigRdQyGMuTEwAbc7BKUBVf+p3Ov8/K/kl100/f/ANrUZYA24mMVqK0NIxUayvv/APAusv7iT+rHqFRsZGx6nxJC/gxRIaRQpEd+FC7Mx1AQag5KEEfdy66F/oD/ACY+peowRhMzHUyOyinMRd3u7yBvX6NdVxXJb0yPZXsSRa094Oupf5H93WQo4K2QB9DHWO/accD3O/6dYH70v1JpgRt6OI+5UOut/df25NdTVoWyXlEKrjRre0leaCCOAXfcnYaL8v8A90uMjlXGzap9KG42b23ce3w0ZUWsYYyRLXaSCQkW/WPaK6yv/ohIrZE5sjx6i+CNQIwXA+Zgo0/3+T/Xk1jpDIsjRRssgUg2ktwanA6lyMdxJDIYmR13BBddZjuwVVnkJYmgA5UfbrJiyplhfICLFdsGKlqi7gOPbr0ocNPbeUWptXvYjZa9leP4Ehe7qSYz3eiiBjjEi+W6WU3X0rQBRTv1/uPU8NkmRRFilKSJDGu/wm3zVJ83uGpJsGYTIIVDUBVgQ7cVYA6keCF5Eh6kXldVJVFWepLHgNtPJcLInhDnusC3e7WNPjyLLE+ShV0NQfs5e7V3VhbjySOojkQnm3UIsUjzDx4ac4bRpmZRa6BmJdUJ8sS8wAnbjSu/hTWakahUQTqAooFAkAA0kqsOXJNkFW7CGSW3311gRK4MkYmLoDuobl21HjQ6IglWQw40EcoU1KOvLUqw7OGsqSSqR84tewotoRamp22prIJYDmwSCOu1x5kbUFfAV1CDwWTGA96n8+rLhfSttd6cK01j9SijLJGpiyHFKKKgx1HHcs2+un9BllSCWGSsk8rAApGtkdoPxOQ5FPDx10zFjJKQY0sSk8SEEKivu1kYlw9TmRSQY0VfNJJIpVQB7TueA4nbWek7g5E8TNMflDMLVRfZWmupAkA0hND3Dm1OsjLypQmOzzgSULA3sbfgB1hGD7US46mMp5r7na22nGusBKi+srW9tKIK6m9PMshixo45FHxK4CpRlO4311wspEfJ2emxPLluFfDbWXBkzLFJk8oQhtgxTmVF3D5hx16PmqcgCpTurwBPAE8QONKns0IctPMteXKuzoT+qfzaEmD1ECQfCWVoiP4kZtInU+rSvBcxlxYWe2QMbmDSkqxu+by/TqOKBFw5YRbFLGgoFrUqygrd7+On6Isr2v5zMdzzKhrglaAVHD8++i2VO2YoYMkJBSIMPmaO5gx9umysSb0jvvJGEDRk96gFbfHSYmOASADLLShkem7Hj7uzUiwm2UowjbuYjY+/WOuLGELIOcaUcyjyyXn9YMCNH1cI5tKLOnlkX+Lt9h21zznvyVPlWIGORlI3UuG2+jj4aSCBBHEgoqju0S6iHLoLMlRVhTsYVFw9umfNyBmQBro8cqVjvGyyOtxBIBIpT6dY6Z0bSRwxyGOMFlSpMYa5kp4UFe/XNwco40RIPKZTIVp2q94Pv9+hDAvmNDLKfjlftdz2knXPwZzhKxq0Vl6g96eZbfZ9WhgFCHBv9V/5jJSlxbtH7PDUq5Ga0uDIqiSBAY+dQ3Uk8x2B4U39nacIQoMUqUMIFFtPEUGkzFym9NHJzEgVSrihqqcy+tB38dDPhyvTuwVZAUv+Ha5SGXsptoku0+S4AmypTdJJThU9gHYNNHIodGBDKwqCDxBB002DkHERhXklOYob9lr1IHhvpFPV+XDECsTo0juqmmyo1oANB82jIGfIy3FJMudi8reFTwHgNPi5UYlhk+JT9Y7jr1Ek7z4w3TGZafQ7g+YfQNCeBvRT8GKICjjvKArv410jyyHKy1W1ZXrSNSa2RKSbRv8ATo4+ZGHBBsf50J+ZG7DotLmNLhstskSqY2kFwaxyGPl2B/RpYYEWOJBRUUUUD2a9ThyjCLU5kYS5GNd2HmWhpr/aLFttrzqebn2053HjXsrw24a//9k=);
}

.header {
    padding-bottom: 0.25em;
    border-bottom: 1px dotted #ddd;
    max-width: 480px;
    margin: 0 auto;
}

.explanation {
    margin: 0.5em 0;
    font-size: 0.9em;
    color: #999;
}

#updated{
    font-size: 0.8em;
    font-weight: bold;
    color: #59889d;
    margin-top: 1em;
}

.container {
    text-align: center;
    padding: 1em;
}

#results {
    margin: 1.5em auto;
    width: 100%;
    max-width: 480px;
    height: 100%;
    overflow: hidden;
}

.story {
    margin-bottom: 2em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.image {
    width: 100%;
    height: 200px;
    background: #ccc;
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

.story a {
    display: block;
    text-decoration: none;
}
.story a:hover {
    text-decoration: none;
}

.headline {
    font-size: 1em;
    text-align: left;
    margin-bottom: 0.25em;
    color: #333;
}

.description {
    font-size: 0.9em;
    margin-top: 1em;
    text-align: left;
}